.slider {
  &__content {
    width: 990px;
    overflow: hidden;
    display: flex;
    height: 435px;
    column-gap: calc((990px - 270px*3)/2);
    grid-area: slider;
    scroll-behavior: smooth;
    transition: transform 0.5s;

    @media screen and (min-width:1185px) and (max-width: 1279px){
      width: 990px;
      column-gap: calc((990px - 270px*3)/2);
    }

    @media screen and (min-width:683px) and (max-width:1184px) {
      width: 580px;
      column-gap: calc((580px - 270px*2));
    }

    @media screen and (max-width:683px) {
      width: 270px;
      justify-self: center;
      column-gap: calc((580px - 270px*2));
    }
  }

  &__right {
    background-image: url("/shelter/assets/icons/Arrow.svg");
    transform: rotate(180deg);
    grid-area: right;

    @media screen and (min-width: 683px) and (max-width: 715px) {
      order: 2;
    }
  }

  &__left {
    background-image: url("/shelter/assets/icons/Arrow.svg");
    grid-area: left;
    @media screen and (min-width: 683px) and (max-width: 715px) {
      order: 1;
    }
    @media screen and (max-width: 683px) {
        justify-self: end;
    }
  }

  &__pet-card {
    width: 270px;
    height: 435px;
    background-color: $color-light-s;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: background-color 0.5s, transform 0.65s;

    &:hover {
      cursor: pointer;
      background-color: $color-light-xl;
    }
  }

  &__pet-img {
    width: 270px;
  }

  &__pet-name {
    color: $color-dark-l;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }

  &__button {
    width: 187px;
    background-color: $color-light-s;
  }

  &__pet-card:hover &__button {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}
